<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Shopping Site</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="screen" charset="utf-8">
</head>
<body>
  <h1>Checkout Page</h1>
  <p>Here is the item you're about to purchase:</p>
  <p><%= @session[:item] %></p>
</body>
</html>
