
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/checkout" method="post">
      <label for="item">Item:</label>
      <input type="text" name="item">
      <input type="submit" name="submit" value="submit">
    </form>
  </body>
</html>
