<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Items</title>
</head>
<body>
	<form action="/checkout" method="post">
		<label for="item">Enter an item to purchase</label>
		<input type="text" id="item" name="item">
		<input type="submit" id="submit">
	</form>
</body>
</html>
