<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Teams</title>
  </head>
  <body>
   <form method="post" action="/checkout">
      <p>Item Name: <input type="text" name="item"></p>
     <br>
     <button type="submit" value="submit">Submit</button>
  </form>
</body>
</html>
